<div class="modal-header">
    <h3 class="modal-title">Add A Grade</h3>
</div>
<div class="modal-body">
        <div ng-form="gradeform"
        ng-class="{'has-error': gradeform.course.$dirty && gradeform.course.$invalid ||
            gradeform.grade.$dirty && gradeform.grade.$invalid}">
        <div class="form-group">
            <label>Course Code</label>
            <select
                placeholder="Choose Course"
                ng-model="gradecourse"
                ng-options="course.coursecode for course in courselist"
                name="course"
                class="form-control"
                required>
            </select>
        </div>
        <div class="form-group">
            <label>Grade</label>
            <select
                placeholder="Choose Grade"
                ng-model="grade"
                ng-options="grade.letter for grade in gradescheme"
                name="grade"
                class="form-control"
                required>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
        ng-click="addGrade()"
        ng-disabled="gradeform.$invalid">Save Grade
    </button>
</div>
