#book{
	
	background-color: #afaf80;
	height: 100%;
	width: 400px;
	margin: 0 auto;
	padding-top: 0px;
/*	overflow: hidden;*/
}

#lining{
	
	background-color: #9f9f60;
	height: 100%;
	width: 4px;
	margin-left: 7px;
	margin-top: 0px;
	float:left;
}

#content{
	
	width: 80%;
	height: 70%;
	overflow: hidden;
	margin: 0 auto;
}

#openbook{
	background-color: #c0c0c0;
	min-height: 700px;
	margin:20px;
	
}

#name{
	font-family: 'Sigmar One', cursive;
	color: #ffffff;
	font-size: 40px;
	margin-bottom: 50px;
}

#Schedule > a{
	background-color: #67f398;
	border-bottom-color: #000000;
	
}

#GPA > a{
	background-color: #9867f3;
	border-bottom-color: #000000;
	
}

#Tests > a{
	background-color: #ff0ff0;
	border-bottom-color: #000000;
	
}

#Courses > a{
	background-color: #0ff0fe;
	border-bottom-color: #000000;
	
}
#Assignments > a{
	background-color: #9fdc80;
	border-bottom-color: #000000;
	
}